---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <h1 class="text-foreground font-bold">hi, I'm haze</h1>
    <p class="text-foreground leading-relaxed text-pretty">
        Computer science student.
    </p>
</Layout>
