---
import { ThemeToggle } from "./ThemeToggle";

type SocialButton = {
    name: string;
    href: string;
};

const socialButtons = [
    {
        name: "GitHub",
        href: "https://github.com/hazefyro",
    },
    {
        name: "Twitter",
        href: "https://x.com/hazefyro",
    },
    {
        name: "Substack",
        href: "https://substack.com/@hazefyro",
    },
] satisfies SocialButton[];

const { locale } = Astro.props;
---

<footer
    class="mx-auto flex w-full max-w-md flex-wrap items-center gap-4 lg:max-w-lg"
>
    {
        socialButtons.map(({ name, href }) => (
            <a
                href={href}
                aria-label={name}
                class="text-foreground font-medium"
                target="_blank"
                referrerpolicy="no-referrer"
            >
                {name}
            </a>
        ))
    }
    <a id="i18n" href="/pl" aria-label="pl" class="text-foreground text-sm">
    </a>
    <div class="ml-auto">
        <ThemeToggle client:load />
    </div>
</footer>

<script define:vars={{ locale }} is:inline>
    const toggle = document.getElementById("i18n");
    if (toggle) {
        if (locale === "pl") {
            toggle.setAttribute("href", "/");
            toggle.setAttribute("aria-label", "pl");
            toggle.innerHTML = "en?";
        } else {
            toggle.setAttribute("href", "/pl");
            toggle.setAttribute("aria-label", "en");
            toggle.innerHTML = "pl?";
        }
    }
</script>
