---
import LocaleToggle from "./LocaleToggle.astro";
import { ThemeToggle } from "./ThemeToggle";

type SocialButton = {
    name: string;
    href: string;
};

const socialButtons = [
    {
        name: "GitHub",
        href: "https://github.com/hazefyro",
    },
    {
        name: "Twitter",
        href: "https://x.com/hazefyro",
    },
    {
        name: "Substack",
        href: "https://substack.com/@hazefyro",
    },
] satisfies SocialButton[];

const { locale } = Astro.props;
---

<footer
    class="mx-auto flex w-full max-w-md flex-wrap items-center gap-4 lg:max-w-lg"
>
    {
        socialButtons.map(({ name, href }) => (
            <a
                href={href}
                aria-label={name}
                class="text-foreground font-medium"
                target="_blank"
                referrerpolicy="no-referrer"
            >
                {name}
            </a>
        ))
    }
    <LocaleToggle locale={locale} />
    <div class="ml-auto">
        <ThemeToggle client:load />
    </div>
</footer>
