---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <h1 class="text-foreground font-bold">hej, jestem haze</h1>
    <p class="text-foreground leading-relaxed text-pretty">
        Student Informatyki.
    </p>
</Layout>
