---
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<Layout>
  <PageLayout>
    <h1 class="text-foreground font-bold">hi, I'm haze</h1>
    <p class="text-foreground leading-relaxed text-pretty">
      Computer science student.
    </p>
  </PageLayout>
</Layout>
