---
import { Font } from "astro:assets";
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Projects from "@/components/Projects.astro";
import { Separator } from "@base-ui/react";

const locale = Astro.currentLocale;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Haze | Fyro</title>
    <Font
      cssVariable="--font-roboto"
      preload={[{ weight: 400 }, { weight: 600 }]}
    />
  </head>

  <body class="bg-background">
    <article
      class="mx-auto flex max-w-4xl flex-col items-center gap-6 px-6 py-24 text-sm lg:gap-8"
    >
      <section
        class="flex w-full max-w-md flex-col items-start gap-5 text-left lg:max-w-lg"
      >
        <slot />
        <Projects locale={locale} />
        <Separator
          orientation="horizontal"
          className="bg-foreground/15 dark:bg-foreground/30 h-px w-full max-w-md lg:max-w-lg"
        />
      </section>
      <Footer locale={locale} />
    </article>
  </body>
</html>
