---
import { Font } from "astro:assets";
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <Font
      cssVariable="--font-roboto"
      preload={[{ weight: 400 }, { weight: 600 }]}
    />
  </head>

  <body class="bg-background">
    <article
      class="mx-auto flex max-w-4xl flex-col items-center gap-6 px-6 py-24 text-sm lg:gap-8"
    >
      <slot />
      <Footer />
    </article>
  </body>
</html>
