---
import Projects from "@/components/Projects.astro";
import { Separator } from "@base-ui/react";

const locale = Astro.currentLocale;
---

<section
  class="flex w-full max-w-md flex-col items-start gap-5 text-left lg:max-w-lg"
>
  <slot />
  <Projects locale={locale} />
  <Separator
    orientation="horizontal"
    className="bg-foreground/15 dark:bg-foreground/30 h-px w-full max-w-md lg:max-w-lg"
  />
</section>
